.movie-card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 24px;
}

.movie-card {
    align-self: center;
    justify-self: center;
    padding: 24px 12px;
    width: 348px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    box-shadow:
        0 0px 5.3px rgba(0, 0, 0, 0.028),
        0 0px 17.9px rgba(0, 0, 0, 0.042),
        0 0px 80px rgba(0, 0, 0, 0.07);
    background: #454d5f;
}

.movie-card img {
    width: 300px;
    height: fit-content;
    overflow-x: hidden;
}

.description {
    width: 284px;
}

.movie-card-title {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 20px;
}

.fav-button {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    padding: 6px;
    margin-right: 12px;
    filter: saturate(0) brightness(1.1);
    display: flex;
    align-self: flex-end;
    transition: all .2s ease-out;
    cursor: pointer;
}

.fav-button img {
    width: 100%;
    height: 100%;
}

.fav-button:hover {
    filter: saturate(.5);
}

.active {
    filter: none;
}

.edit-button {
    align-self: flex-end;
    color: inherit;
    padding: 8px 12px;
    margin: 0 8px;
    margin-top: 12px;
    border-radius: 8px;
    text-decoration: none;
    transition: all .2s ease;
    background: #50c47c;
    cursor: pointer;
}